body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    
    
}
section {
    background-color:white;
    margin: 0 auto;
    width: 600px;
    
    
}

.titulo {
    display: flex;
    padding: 16px;
    
}

.name {
    
    
    flex-direction: column;
    padding: 5px;
    
}

.name p{
    margin:0;
}

.html-icon {
    font-size: 25px;
    color: black;
    padding: 5px;
}

.menu {
    
    font-size: 25px;
    color:black;
    padding: 5px;
    margin-left: auto;
    
    
}

.icons-left {
    
    font-size: 25px;
    color: black;
    padding: 5px ;
}
.icons-right {
    font-size: 25px;
    color: black;
    padding: 5px;
    margin-left: auto;



}

.user {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}

.text {
    text-align: justify;
    padding: 5px;

}
.likes {
    padding: 5px;
    text-align: justify;
}





